/*每个页面公共css */
/* iconfont 需要加上https: */
@font-face {
  font-family: 'iconfont';  /* project id 1897670 */
  src: url('https://at.alicdn.com/t/font_1897670_pfst49jq7oi.eot');
  src: url('https://at.alicdn.com/t/font_1897670_pfst49jq7oi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1897670_pfst49jq7oi.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1897670_pfst49jq7oi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1897670_pfst49jq7oi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1897670_pfst49jq7oi.svg#iconfont') format('svg');
}

* {
	/* font-size: 14px; */
	word-break:break-all;
/* 	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

li {
	list-style: none;
}

.iconfont {
	font-family: iconfont;
}

.status_bar {
	height: var(--status-bar-height);
	width: 100%;
}