/*每个页面公共css */
/* iconfont 需要加上https: */
@font-face {
  font-family: 'iconfont';  /* project id 1897670 */
  src: url('https://at.alicdn.com/t/font_1897670_weyyf2dr40j.eot');
  src: url('https://at.alicdn.com/t/font_1897670_weyyf2dr40j.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1897670_weyyf2dr40j.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1897670_weyyf2dr40j.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1897670_weyyf2dr40j.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1897670_weyyf2dr40j.svg#iconfont') format('svg');
}
* {
	font-size: 14px;
	word-break:break-all;
}

li {
	list-style: none;
}

.iconfont {
	font-family: iconfont;
}

.status_bar {
	height: var(--status-bar-height);
	width: 100%;
}